Django
PyYAML
backports.csv
defusedxml
diff-match-patch
django-filters
django-import-export
djangorestframework
et-xmlfile
jdcal
odfpy
openpyxl
pip
pytz
setuptools
sqlparse
tablib
whitenoise
xlrd
xlwt
gunicorn